@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}
.custom-quill .ql-container {
  border: none;
  outline: none;
}

.custom-quill .ql-editor {
  pointer-events: none; /* Prevents interaction */
}

.scrollbar-thin {
  scrollbar-width: thin;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer components {
  .primary-btn {
    @apply h-10 flex items-center px-4 bg-[#333333] text-white font-semibold rounded shadow-md hover:bg-[#111111] transition-all duration-300;
  }
  .primary-outline-btn {
    @apply transition-all duration-300 h-10 flex items-center px-4 border border-[#000000]  text-[#000000] hover:text-white font-semibold rounded hover:bg-[#111111] focus:outline-none;
  }
  .input-box {
    @apply mt-1 px-3 h-10 flex items-center bg-[#FFFFFF] rounded-md text-sm shadow-sm placeholder-slate-400 border border-[#11111170]
      focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
      disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
      invalid:border-pink-500 invalid:text-pink-600
      focus:invalid:border-pink-500 focus:invalid:ring-pink-500 text-black;
  }
}
